/* ----- a. Main Menu ----- */
header{
	nav{
		@media screen and (min-width: 881px){
			text-align: center;
			float: right;
		}
	}
}

nav {
	font-family: $gothbook;
	// height: 5em;
	position: relative;
	text-transform: uppercase;
	z-index: 1;

	@media screen and (max-width: 880px){
		text-align: center;
	}

	@media screen and (min-width: 881px){
		float: right;
	}

	ul {
		display: inline-block;
		list-style: none;
		margin: 20px 0 0;
		padding: 0;
		position: relative;
	}

	li {
		display: inline-block;
		margin: 0 -4px 1em 0;
		position: relative;

		@media screen and (max-width: 880px){
		}

		@media screen and (max-width: 880px){
			padding: 0 14px;
		}

		@media screen and (min-width: 881px) and (max-width: 920px){
			padding: 0 9px;
		}

		@media screen and (min-width: 921px){
			padding: 0 14px;
		}
	}

	a {
		-webkit-transition-duration: 0.3s, 0.3s;
		-moz-transition-duration: 0.3s, 0.3s;
		-ms-transition-duration: 0.3s, 0.3s;
		-o-transition-duration: 0.3s, 0.3s;
		transition-duration: 0.3s, 0.3s;
		color: $navLinkColor;
		display: inline-block;
		font-size: 10px;
		letter-spacing: 1.6px;
		padding: 0 0 5px;
		position: relative;
		text-decoration: none;

		&:hover{
			color: $navLinkColorHover;
			text-decoration: none;
		}
	}

	.v65-pageAParent, .v65-selected{
		border-bottom: 3px solid $gold;
	}

	.v65-home { display: none; }
}

/* ----- b. Sub Menu ----- */
.subNav {
	font-family: $gothbook;

	ul{
		list-style: none;
		padding: 0;
		text-align: center;
	}

	li{
		display: inline-block;
		padding: 5px;
	}

	.v65-pageAParent {
		color: $subNavLinkColorHover;
	}

	.v65-leftSelected{
		color: $subNavLinkColorHover;
		font-weight: bold;
	}

}